<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เพิ่มข้อมูล</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">

<!--echart-->
<script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>


<!--axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src='/pdf/pdfmake/build/pdfmake.min.js'></script>
<script src='/pdf/pdfmake/build/vfs_fonts.js'></script>


<!--font จ้า-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">



</head>
<body style="font-family: 'Prompt', sans-serif; background-color: aliceblue;">

    <%- include('layouts/nav') %>
    
    <br>
    <br>
  


    <div class="container-fluid" style="padding-left: 10%; padding-right: 10%;">
        <div class="row">              
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

            <h3>เพิ่มข้อมูลปริมาณน้ำที่ออกจากระบบ</h3> 
            <br> 
              <div class="card shadow mb-4">
                  <!-- Card Body -->
                  <div class="card-body" style="height: 100%;">
                      <div class="chart-area">
                            <form method="post" action="/treated-water">

                                <br>
                                <div class="container">
                                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                                        <div class="row">
                                            <div class="col-xl-2 col-md-4">
                                                <div class="d-flex flex-row bd-highlight mb-3">
                                                    <h5 style="margin-top: 10px;">ปี พ.ศ. </h5> 
                                                 
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-md-4">
                                              
                                                <div class="mb-3">
                                                        <select class="form-select" aria-label="Default select example" id="year" name="year" >
                                                        <option value="2564" >2564</option>
                                                        <option value="2565" selected >2565</option>
                                                        <option value="2566">2566</option>
                                                        <option value="2567">2567</option>
                                                        <option value="2568">2568</option>
                                                        <option value="2569">2569</option>
                                                        <option value="2570">2570</option>
                                                       
                                                        </select>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>

                                
                                    

                                <br>
                                <div class="container">
                                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                                        <div class="row">
                                            <div class="col-xl-2 col-md-4">
                                                <div class="d-flex flex-row bd-highlight mb-3">
                                                    <h5 style="margin-top: 10px;">สาขา</h5> 
                                                 
                                                </div>
                                            </div>
                                            <div class="col-xl-10 col-md-6">
                                              
                                                <div class="mb-3">
                                                        <select class="form-select" aria-label="Default select example" id="stationid" name="stationid" >
                                                            
                                                        </select>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>

                                <br>
                                <div class="container">
                                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                                        <div class="row">
                                            <div class="col-xl-2 col-md-4">
                                                <div class="d-flex flex-row bd-highlight mb-3">
                                                    <h5 style="margin-top: 10px;">เดือน</h5> 
                                                 
                                                </div>
                                            </div>
                                            <div class="col-xl-10 col-md-6">
                                              
                                                <div class="mb-3">
                                                        <select class="form-select" aria-label="Default select example" id="monthly" name="monthly" >
                                                            <option value="1">01 มกราคม</option>
                                                            <option value="2">02 กุมภาพันธ์</option>
                                                            <option value="3">03 มีนาคม</option>
                                                            <option value="4">04 เมษายน</option>
                                                            <option value="5">05 พฤษภาคม</option>
                                                            <option value="6">06 มิถุนายน</option>
                                                            <option value="7">07 กรกฏาคม</option>
                                                            <option value="8">08 สิงหาคม</option>
                                                            <option value="9">09 กันยายน</option>
                                                            <option value="10">10 ตุลาคม</option>
                                                            <option value="11">11 พฤศจิกายน</option>
                                                            <option value="12">12 ธันวาคม</option>
                                                        </select>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>




                                <br>
                                


                                    <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th scope="col">วันที่</th>
                                            <th scope="col">ปริมาณน้ำออกจากระบบต่อวัน (ลบ.ม./วัน) </th>
                                            <th scope="col">หมายเหตุ </th>
                                           
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd1" id="dd1">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps1" id="ps1">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">2</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd2" id="dd2">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps2" id="ps2">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">3</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd3" id="dd3">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps3" id="ps3">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">4</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd4" id="dd4">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps4" id="ps4">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">5</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd5" id="dd5">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps5" id="ps5">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">6</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd6" id="dd6">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps6" id="ps6">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">7</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd7" id="dd7">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps7" id="ps7">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">8</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd8" id="dd8">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps8" id="ps8">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">9</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd9" id="dd9">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps9" id="ps9">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">10</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd10" id="dd10">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps10" id="ps10">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">11</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd11" id="dd11">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps11" id="ps11">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">12</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd12" id="dd12">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps12" id="ps12">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">13</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd13" id="dd13">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps13" id="ps13">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">14</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd14" id="dd14">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps14" id="ps14">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">15</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd15" id="dd15">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps15" id="ps15">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">16</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd16" id="dd16">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps16" id="ps16">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">17</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd17" id="dd17">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps17" id="ps17">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">18</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd18" id="dd18">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps18" id="ps18">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">19</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd19" id="dd19">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps19" id="ps19">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">20</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd20" id="dd20">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps20" id="ps20">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">21</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd21" id="dd21">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps21" id="ps21">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">22</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd22" id="dd22">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps22" id="ps22">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">23</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd23" id="dd23">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps23" id="ps23">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">24</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd24" id="dd24">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps24" id="ps24">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">25</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd25" id="dd25">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps25" id="ps25">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">26</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd26" id="dd26">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps26" id="ps26">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">27</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd27" id="dd27">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps27" id="ps27">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">28</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd28" id="dd28">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps28" id="ps28">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">29</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd29" id="dd29">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps29" id="ps29">
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                          <tr>
                                            <th scope="row">30</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd30" id="dd30">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps30" id="ps30">
                                                  </div>
                                            </td>
                                           
                                          </tr>

                                          <tr>
                                            <th scope="row">31</th>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="dd31" id="dd31">
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" class="form-control"  placeholder="" name="ps31" id="ps31"  >
                                                  </div>
                                            </td>
                                           
                                          </tr>
                                         
                                        </tbody>
                                      </table>

                                    <br>
                                    <br>

                                    <div class="d-flex flex-row-reverse bd-highlight">
                                        <div style="margin-left: 100px;"><button type="submit" class="btn btn-primary" >เพิ่มข้อมูล</button></div>
                                    </div>
    
                                    


                            </form>
                      </div>
                  </div>
              </div>
          </div>
    </div>





          

           <!-- Footer -->
           <footer class="sticky-footer bg-white">
               <div class="container my-auto">
                   <div class="copyright text-center my-auto">
                       <span>Copyright &copy; Your Website 2021</span>
                   </div>
               </div>
           </footer>
           <!-- End of Footer -->

       </div>
       <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->
            </div>
        </div>
    </div>



<!---------------------     Script ----------------------------->
<script>
let year = document.getElementById('year')
let stationid = document.getElementById('stationid')
let month = document.getElementById('monthly')


const getdata = () => {
  axios
    
    .get("/onestation-data/"+year.value+"/"+month.value+"/"+stationid.value)
    .then((response) => {
        let store = []
        let n = 0
        let keep = [0,0,0,0,0, 0,0,0,0,0,
                    0,0,0,0,0, 0,0,0,0,0,
                    0,0,0,0,0, 0,0,0,0,0,
                    0]
    
        let keep2 = ['-','-','-','-','-',   '-','-','-','-','-',
                    '-','-','-','-','-',    '-','-','-','-','-',
                    '-','-','-','-','-',    '-','-','-','-','-',
                    '-']
    
        for(i of response.data.data){
            keep[n] = i.treated_water
            
            keep2[n] = i.comment

            n=n+1
        }
       
        console.log(keep2)

        document.getElementById("dd1").setAttribute('value',keep[0]);
        document.getElementById("dd2").setAttribute('value',keep[1]);
        document.getElementById("dd3").setAttribute('value',keep[2]);
        document.getElementById("dd4").setAttribute('value',keep[3]);
        document.getElementById("dd5").setAttribute('value',keep[4]);
        document.getElementById("dd6").setAttribute('value',keep[5]);
        document.getElementById("dd7").setAttribute('value',keep[6]);
        document.getElementById("dd8").setAttribute('value',keep[7]);
        document.getElementById("dd9").setAttribute('value',keep[8]);
        document.getElementById("dd10").setAttribute('value',keep[9]);
        document.getElementById("dd11").setAttribute('value',keep[10]);
        document.getElementById("dd12").setAttribute('value',keep[11]);
        document.getElementById("dd13").setAttribute('value',keep[12]);
        document.getElementById("dd14").setAttribute('value',keep[13]);
        document.getElementById("dd15").setAttribute('value',keep[14]);
        document.getElementById("dd16").setAttribute('value',keep[15]);
        document.getElementById("dd17").setAttribute('value',keep[16]);
        document.getElementById("dd18").setAttribute('value',keep[17]);
        document.getElementById("dd19").setAttribute('value',keep[18]);
        document.getElementById("dd20").setAttribute('value',keep[19]);
        document.getElementById("dd21").setAttribute('value',keep[20]);
        document.getElementById("dd22").setAttribute('value',keep[21]);
        document.getElementById("dd23").setAttribute('value',keep[22]);
        document.getElementById("dd24").setAttribute('value',keep[23]);
        document.getElementById("dd25").setAttribute('value',keep[24]);
        document.getElementById("dd26").setAttribute('value',keep[25]);
        document.getElementById("dd27").setAttribute('value',keep[26]);
        document.getElementById("dd28").setAttribute('value',keep[27]);
        document.getElementById("dd29").setAttribute('value',keep[28]);
        document.getElementById("dd30").setAttribute('value',keep[29]);
        document.getElementById("dd31").setAttribute('value',keep[30]);
      
        document.getElementById("ps1").setAttribute('value',keep2[0]);
        document.getElementById("ps2").setAttribute('value',keep2[1]);
        document.getElementById("ps3").setAttribute('value',keep2[2]);
        document.getElementById("ps4").setAttribute('value',keep2[3]);
        document.getElementById("ps5").setAttribute('value',keep2[4]);
        document.getElementById("ps6").setAttribute('value',keep2[5]);
        document.getElementById("ps7").setAttribute('value',keep2[6]);
        document.getElementById("ps8").setAttribute('value',keep2[7]);
        document.getElementById("ps9").setAttribute('value',keep2[8]);
        document.getElementById("ps10").setAttribute('value',keep2[9]);
        document.getElementById("ps11").setAttribute('value',keep2[10]);
        document.getElementById("ps12").setAttribute('value',keep2[11]);
        document.getElementById("ps13").setAttribute('value',keep2[12]);
        document.getElementById("ps14").setAttribute('value',keep2[13]);
        document.getElementById("ps15").setAttribute('value',keep2[14]);
        document.getElementById("ps16").setAttribute('value',keep2[15]);
        document.getElementById("ps17").setAttribute('value',keep2[16]);
        document.getElementById("ps18").setAttribute('value',keep2[17]);
        document.getElementById("ps19").setAttribute('value',keep2[18]);
        document.getElementById("ps20").setAttribute('value',keep2[19]);
        document.getElementById("ps21").setAttribute('value',keep2[20]);
        document.getElementById("ps22").setAttribute('value',keep2[21]);
        document.getElementById("ps23").setAttribute('value',keep2[22]);
        document.getElementById("ps24").setAttribute('value',keep2[23]);
        document.getElementById("ps25").setAttribute('value',keep2[24]);
        document.getElementById("ps26").setAttribute('value',keep2[25]);
        document.getElementById("ps27").setAttribute('value',keep2[26]);
        document.getElementById("ps28").setAttribute('value',keep2[27]);
        document.getElementById("ps29").setAttribute('value',keep2[28]);
        document.getElementById("ps30").setAttribute('value',keep2[29]);
        document.getElementById("ps31").setAttribute('value',keep2[30]);
      
        

    });
};

/*getBtn.addEventListener("click", getdata);
*/



</script>

<script>



const getalldata = () => {
  axios
    
    .get("/allstation-data")
    .then((response) => {
        let store = []
        //console.log(response.data.data)
        let n = 1

        for(i of response.data.data ){
            let adder = document.createElement('option')
                adder.text = i.station 
                adder.value = i.number

                stationid.add(adder, n)
                n = n+1
        }
        getdata()

    });
};

/*getBtn.addEventListener("click", getdata);
*/

getalldata()

</script>


<script>
    month.onchange = function(event){


        let idValue = (stationid.value)
        let yearValue = (year.value)
        let monthValue = (month.value)
        console.log('สถานี : '+idValue)
        console.log('ปี : '+yearValue)
        console.log('เดือน : '+monthValue)     
        let kom_month = ['1','3','5','7','8','10','12']
        let yon_month = ['4','6','9','11']
        let feb_month = ['2']

        if( kom_month.includes(monthValue) ){
            console.log('เดือนนี้มี 31 วัน')
     
            document.getElementById("dd29").removeAttribute('disabled');
            document.getElementById("ps29").removeAttribute('disabled');
            document.getElementById("dd30").removeAttribute('disabled');
            document.getElementById("ps30").removeAttribute('disabled');
            document.getElementById("dd31").removeAttribute('disabled');
            document.getElementById("ps31").removeAttribute('disabled');
        }else if (yon_month.includes(monthValue) ){
            console.log('เดือนนี้มี 30 วัน')
            document.getElementById("dd29").removeAttribute('disabled');
            document.getElementById("ps29").removeAttribute('disabled');
            document.getElementById("dd30").removeAttribute('disabled');
            document.getElementById("ps30").removeAttribute('disabled');
            
            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');
       
        }else{
            console.log('เดือนนี้เดือนกุมภาพันธ์')
            document.getElementById("dd30").setAttribute('disabled', '');
            document.getElementById("ps30").setAttribute('disabled', '');
            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');

            if(yearValue % 4 !== 0){
                document.getElementById("dd29").setAttribute('disabled', '');
                document.getElementById("ps29").setAttribute('disabled', '');
            }
        }

        
  axios
    
    .get("/onestation-data/"+year.value+"/"+month.value+"/"+stationid.value)
    .then((response) => {
        let store = []
        let n = 0
        let keep = [0,0,0,0,0, 0,0,0,0,0,
                    0,0,0,0,0, 0,0,0,0,0,
                    0,0,0,0,0, 0,0,0,0,0,
                    0]
                    
        let keep2 = ['-','-','-','-','-',   '-','-','-','-','-',
                    '-','-','-','-','-',    '-','-','-','-','-',
                    '-','-','-','-','-',    '-','-','-','-','-',
                    '-'] 
        for(i of response.data.data){
            keep[n] = i.treated_water
            keep2[n] = i.comment
            n=n+1
        }
       
        console.log(keep2)

        document.getElementById("dd1").setAttribute('value',keep[0]);
        document.getElementById("dd2").setAttribute('value',keep[1]);
        document.getElementById("dd3").setAttribute('value',keep[2]);
        document.getElementById("dd4").setAttribute('value',keep[3]);
        document.getElementById("dd5").setAttribute('value',keep[4]);
        document.getElementById("dd6").setAttribute('value',keep[5]);
        document.getElementById("dd7").setAttribute('value',keep[6]);
        document.getElementById("dd8").setAttribute('value',keep[7]);
        document.getElementById("dd9").setAttribute('value',keep[8]);
        document.getElementById("dd10").setAttribute('value',keep[9]);
        document.getElementById("dd11").setAttribute('value',keep[10]);
        document.getElementById("dd12").setAttribute('value',keep[11]);
        document.getElementById("dd13").setAttribute('value',keep[12]);
        document.getElementById("dd14").setAttribute('value',keep[13]);
        document.getElementById("dd15").setAttribute('value',keep[14]);
        document.getElementById("dd16").setAttribute('value',keep[15]);
        document.getElementById("dd17").setAttribute('value',keep[16]);
        document.getElementById("dd18").setAttribute('value',keep[17]);
        document.getElementById("dd19").setAttribute('value',keep[18]);
        document.getElementById("dd20").setAttribute('value',keep[19]);
        document.getElementById("dd21").setAttribute('value',keep[20]);
        document.getElementById("dd22").setAttribute('value',keep[21]);
        document.getElementById("dd23").setAttribute('value',keep[22]);
        document.getElementById("dd24").setAttribute('value',keep[23]);
        document.getElementById("dd25").setAttribute('value',keep[24]);
        document.getElementById("dd26").setAttribute('value',keep[25]);
        document.getElementById("dd27").setAttribute('value',keep[26]);
        document.getElementById("dd28").setAttribute('value',keep[27]);
        document.getElementById("dd29").setAttribute('value',keep[28]);
        document.getElementById("dd30").setAttribute('value',keep[29]);
        document.getElementById("dd31").setAttribute('value',keep[30]);

        document.getElementById("ps1").setAttribute('value',keep2[0]);
        document.getElementById("ps2").setAttribute('value',keep2[1]);
        document.getElementById("ps3").setAttribute('value',keep2[2]);
        document.getElementById("ps4").setAttribute('value',keep2[3]);
        document.getElementById("ps5").setAttribute('value',keep2[4]);
        document.getElementById("ps6").setAttribute('value',keep2[5]);
        document.getElementById("ps7").setAttribute('value',keep2[6]);
        document.getElementById("ps8").setAttribute('value',keep2[7]);
        document.getElementById("ps9").setAttribute('value',keep2[8]);
        document.getElementById("ps10").setAttribute('value',keep2[9]);
        document.getElementById("ps11").setAttribute('value',keep2[10]);
        document.getElementById("ps12").setAttribute('value',keep2[11]);
        document.getElementById("ps13").setAttribute('value',keep2[12]);
        document.getElementById("ps14").setAttribute('value',keep2[13]);
        document.getElementById("ps15").setAttribute('value',keep2[14]);
        document.getElementById("ps16").setAttribute('value',keep2[15]);
        document.getElementById("ps17").setAttribute('value',keep2[16]);
        document.getElementById("ps18").setAttribute('value',keep2[17]);
        document.getElementById("ps19").setAttribute('value',keep2[18]);
        document.getElementById("ps20").setAttribute('value',keep2[19]);
        document.getElementById("ps21").setAttribute('value',keep2[20]);
        document.getElementById("ps22").setAttribute('value',keep2[21]);
        document.getElementById("ps23").setAttribute('value',keep2[22]);
        document.getElementById("ps24").setAttribute('value',keep2[23]);
        document.getElementById("ps25").setAttribute('value',keep2[24]);
        document.getElementById("ps26").setAttribute('value',keep2[25]);
        document.getElementById("ps27").setAttribute('value',keep2[26]);
        document.getElementById("ps28").setAttribute('value',keep2[27]);
        document.getElementById("ps29").setAttribute('value',keep2[28]);
        document.getElementById("ps30").setAttribute('value',keep2[29]);
        document.getElementById("ps31").setAttribute('value',keep2[30]);
      
        if (yon_month.includes(monthValue) ){
            console.log('เดือนนี้มี 30 วัน')
            document.getElementById("dd29").removeAttribute('disabled');
            document.getElementById("ps29").removeAttribute('disabled');
            document.getElementById("dd30").removeAttribute('disabled');
            document.getElementById("ps30").removeAttribute('disabled');

            document.getElementById("dd31").setAttribute('value', '');
            document.getElementById("ps31").setAttribute('value', '');
            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');
        }else if(feb_month.includes(monthValue)){
            console.log('เดือนนี้เดือนกุมภาพันธ์')
            document.getElementById("dd30").setAttribute('value', '');
            document.getElementById("ps30").setAttribute('value', '');
            document.getElementById("dd31").setAttribute('value', '');
            document.getElementById("ps31").setAttribute('value', '');
            document.getElementById("dd30").setAttribute('disabled', '');
            document.getElementById("ps30").setAttribute('disabled', '');
            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');

            if(yearValue % 4 !== 0){
                document.getElementById("dd29").setAttribute('value', '');
                document.getElementById("ps29").setAttribute('value', '');
                document.getElementById("dd29").setAttribute('disabled', '');
                document.getElementById("ps29").setAttribute('disabled', '');
            }
        }

    });
        
        
    }
</script>

<script>
    year.onchange = function(event){


        let idValue = (stationid.value)
        let yearValue = (year.value)
        let monthValue = (month.value)
        console.log('สถานี : '+idValue)
        console.log('ปี : '+yearValue)
        console.log('เดือน : '+monthValue)     
        let kom_month = ['1','3','5','7','8','10','12']
        let yon_month = ['4','6','9','11']
        let feb_month = ['2']

        if( kom_month.includes(monthValue) ){
            console.log('เดือนนี้มี 31 วัน')
     
            document.getElementById("dd29").removeAttribute('disabled');
            document.getElementById("ps29").removeAttribute('disabled');
            document.getElementById("dd30").removeAttribute('disabled');
            document.getElementById("ps30").removeAttribute('disabled');
            document.getElementById("dd31").removeAttribute('disabled');
            document.getElementById("ps31").removeAttribute('disabled');
        }else if (yon_month.includes(monthValue) ){
            console.log('เดือนนี้มี 30 วัน')
            document.getElementById("dd29").removeAttribute('disabled');
            document.getElementById("ps29").removeAttribute('disabled');
            document.getElementById("dd30").removeAttribute('disabled');
            document.getElementById("ps30").removeAttribute('disabled');

            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');
       
        }else{
            console.log('เดือนนี้เดือนกุมภาพันธ์')
            document.getElementById("dd30").setAttribute('disabled', '');
            document.getElementById("ps30").setAttribute('disabled', '');
            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');

            if(yearValue % 4 !== 0){
                document.getElementById("dd29").setAttribute('disabled', '');
                document.getElementById("ps29").setAttribute('disabled', '');
            }
        }

        
  axios
    
    .get("/onestation-data/"+year.value+"/"+month.value+"/"+stationid.value)
    .then((response) => {
        let store = []
        let n = 0
        let keep = [0,0,0,0,0, 0,0,0,0,0,
                    0,0,0,0,0, 0,0,0,0,0,
                    0,0,0,0,0, 0,0,0,0,0,
                    0]
    
        let keep2 = ['-','-','-','-','-',   '-','-','-','-','-',
                    '-','-','-','-','-',    '-','-','-','-','-',
                    '-','-','-','-','-',    '-','-','-','-','-',
                    '-']       
        for(i of response.data.data){
            keep[n] = i.treated_water
            keep2[n] = i.comment
            n=n+1
        }
       
        console.log(keep)

        document.getElementById("dd1").setAttribute('value',keep[0]);
        document.getElementById("dd2").setAttribute('value',keep[1]);
        document.getElementById("dd3").setAttribute('value',keep[2]);
        document.getElementById("dd4").setAttribute('value',keep[3]);
        document.getElementById("dd5").setAttribute('value',keep[4]);
        document.getElementById("dd6").setAttribute('value',keep[5]);
        document.getElementById("dd7").setAttribute('value',keep[6]);
        document.getElementById("dd8").setAttribute('value',keep[7]);
        document.getElementById("dd9").setAttribute('value',keep[8]);
        document.getElementById("dd10").setAttribute('value',keep[9]);
        document.getElementById("dd11").setAttribute('value',keep[10]);
        document.getElementById("dd12").setAttribute('value',keep[11]);
        document.getElementById("dd13").setAttribute('value',keep[12]);
        document.getElementById("dd14").setAttribute('value',keep[13]);
        document.getElementById("dd15").setAttribute('value',keep[14]);
        document.getElementById("dd16").setAttribute('value',keep[15]);
        document.getElementById("dd17").setAttribute('value',keep[16]);
        document.getElementById("dd18").setAttribute('value',keep[17]);
        document.getElementById("dd19").setAttribute('value',keep[18]);
        document.getElementById("dd20").setAttribute('value',keep[19]);
        document.getElementById("dd21").setAttribute('value',keep[20]);
        document.getElementById("dd22").setAttribute('value',keep[21]);
        document.getElementById("dd23").setAttribute('value',keep[22]);
        document.getElementById("dd24").setAttribute('value',keep[23]);
        document.getElementById("dd25").setAttribute('value',keep[24]);
        document.getElementById("dd26").setAttribute('value',keep[25]);
        document.getElementById("dd27").setAttribute('value',keep[26]);
        document.getElementById("dd28").setAttribute('value',keep[27]);
        document.getElementById("dd29").setAttribute('value',keep[28]);
        document.getElementById("dd30").setAttribute('value',keep[29]);
        document.getElementById("dd31").setAttribute('value',keep[30]);
      
        document.getElementById("ps1").setAttribute('value',keep2[0]);
        document.getElementById("ps2").setAttribute('value',keep2[1]);
        document.getElementById("ps3").setAttribute('value',keep2[2]);
        document.getElementById("ps4").setAttribute('value',keep2[3]);
        document.getElementById("ps5").setAttribute('value',keep2[4]);
        document.getElementById("ps6").setAttribute('value',keep2[5]);
        document.getElementById("ps7").setAttribute('value',keep2[6]);
        document.getElementById("ps8").setAttribute('value',keep2[7]);
        document.getElementById("ps9").setAttribute('value',keep2[8]);
        document.getElementById("ps10").setAttribute('value',keep2[9]);
        document.getElementById("ps11").setAttribute('value',keep2[10]);
        document.getElementById("ps12").setAttribute('value',keep2[11]);
        document.getElementById("ps13").setAttribute('value',keep2[12]);
        document.getElementById("ps14").setAttribute('value',keep2[13]);
        document.getElementById("ps15").setAttribute('value',keep2[14]);
        document.getElementById("ps16").setAttribute('value',keep2[15]);
        document.getElementById("ps17").setAttribute('value',keep2[16]);
        document.getElementById("ps18").setAttribute('value',keep2[17]);
        document.getElementById("ps19").setAttribute('value',keep2[18]);
        document.getElementById("ps20").setAttribute('value',keep2[19]);
        document.getElementById("ps21").setAttribute('value',keep2[20]);
        document.getElementById("ps22").setAttribute('value',keep2[21]);
        document.getElementById("ps23").setAttribute('value',keep2[22]);
        document.getElementById("ps24").setAttribute('value',keep2[23]);
        document.getElementById("ps25").setAttribute('value',keep2[24]);
        document.getElementById("ps26").setAttribute('value',keep2[25]);
        document.getElementById("ps27").setAttribute('value',keep2[26]);
        document.getElementById("ps28").setAttribute('value',keep2[27]);
        document.getElementById("ps29").setAttribute('value',keep2[28]);
        document.getElementById("ps30").setAttribute('value',keep2[29]);
        document.getElementById("ps31").setAttribute('value',keep2[30]);
      


        if (yon_month.includes(monthValue) ){
            console.log('เดือนนี้มี 30 วัน')
            document.getElementById("dd29").removeAttribute('disabled');
            document.getElementById("ps29").removeAttribute('disabled');
            document.getElementById("dd30").removeAttribute('disabled');
            document.getElementById("ps30").removeAttribute('disabled');

            document.getElementById("dd31").setAttribute('value', '');
            document.getElementById("ps31").setAttribute('value', '');
            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');
        }else if(feb_month.includes(monthValue)){
            console.log('เดือนนี้เดือนกุมภาพันธ์')
            document.getElementById("dd30").setAttribute('value', '');
            document.getElementById("ps30").setAttribute('value', '');
            document.getElementById("dd31").setAttribute('value', '');
            document.getElementById("ps31").setAttribute('value', '');
            document.getElementById("dd30").setAttribute('disabled', '');
            document.getElementById("ps30").setAttribute('disabled', '');
            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');

            if(yearValue % 4 !== 0){
                document.getElementById("dd29").setAttribute('value', '');
                document.getElementById("ps29").setAttribute('value', '');
                document.getElementById("dd29").setAttribute('disabled', '');
                document.getElementById("ps29").setAttribute('disabled', '');
            }
        }

    });
        
        
    }
</script>

<script>
    stationid.onchange = function(event){


        let idValue = (stationid.value)
        let yearValue = (year.value)
        let monthValue = (month.value)
        console.log('สถานี : '+idValue)
        console.log('ปี : '+yearValue)
        console.log('เดือน : '+monthValue)     
        let kom_month = ['1','3','5','7','8','10','12']
        let yon_month = ['4','6','9','11']
        let feb_month = ['2']

        if( kom_month.includes(monthValue) ){
            console.log('เดือนนี้มี 31 วัน')
     
            document.getElementById("dd29").removeAttribute('disabled');
            document.getElementById("ps29").removeAttribute('disabled');
            document.getElementById("dd30").removeAttribute('disabled');
            document.getElementById("ps30").removeAttribute('disabled');
            document.getElementById("dd31").removeAttribute('disabled');
            document.getElementById("ps31").removeAttribute('disabled');
        }else if (yon_month.includes(monthValue) ){
            console.log('เดือนนี้มี 30 วัน')
            document.getElementById("dd29").removeAttribute('disabled');
            document.getElementById("ps29").removeAttribute('disabled');
            document.getElementById("dd30").removeAttribute('disabled');
            document.getElementById("ps30").removeAttribute('disabled');

            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');
       
        }else{
            console.log('เดือนนี้เดือนกุมภาพันธ์')
            document.getElementById("dd30").setAttribute('disabled', '');
            document.getElementById("ps30").setAttribute('disabled', '');
            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');

            if(yearValue % 4 !== 0){
                document.getElementById("dd29").setAttribute('disabled', '');
                document.getElementById("ps29").setAttribute('disabled', '');
            }
        }

        
  axios
    
    .get("/onestation-data/"+year.value+"/"+month.value+"/"+stationid.value)
    .then((response) => {
        let store = []
        let n = 0
        let keep = [0,0,0,0,0, 0,0,0,0,0,
                    0,0,0,0,0, 0,0,0,0,0,
                    0,0,0,0,0, 0,0,0,0,0,
                    0]
        let keep2 = ['-','-','-','-','-',   '-','-','-','-','-',
                    '-','-','-','-','-',    '-','-','-','-','-',
                    '-','-','-','-','-',    '-','-','-','-','-',
                    '-']
        for(i of response.data.data){
            keep[n] = i.treated_water
            keep2[n] = i.comment
            n=n+1
        }
       
        console.log(keep)

        document.getElementById("dd1").setAttribute('value',keep[0]);
        document.getElementById("dd2").setAttribute('value',keep[1]);
        document.getElementById("dd3").setAttribute('value',keep[2]);
        document.getElementById("dd4").setAttribute('value',keep[3]);
        document.getElementById("dd5").setAttribute('value',keep[4]);
        document.getElementById("dd6").setAttribute('value',keep[5]);
        document.getElementById("dd7").setAttribute('value',keep[6]);
        document.getElementById("dd8").setAttribute('value',keep[7]);
        document.getElementById("dd9").setAttribute('value',keep[8]);
        document.getElementById("dd10").setAttribute('value',keep[9]);
        document.getElementById("dd11").setAttribute('value',keep[10]);
        document.getElementById("dd12").setAttribute('value',keep[11]);
        document.getElementById("dd13").setAttribute('value',keep[12]);
        document.getElementById("dd14").setAttribute('value',keep[13]);
        document.getElementById("dd15").setAttribute('value',keep[14]);
        document.getElementById("dd16").setAttribute('value',keep[15]);
        document.getElementById("dd17").setAttribute('value',keep[16]);
        document.getElementById("dd18").setAttribute('value',keep[17]);
        document.getElementById("dd19").setAttribute('value',keep[18]);
        document.getElementById("dd20").setAttribute('value',keep[19]);
        document.getElementById("dd21").setAttribute('value',keep[20]);
        document.getElementById("dd22").setAttribute('value',keep[21]);
        document.getElementById("dd23").setAttribute('value',keep[22]);
        document.getElementById("dd24").setAttribute('value',keep[23]);
        document.getElementById("dd25").setAttribute('value',keep[24]);
        document.getElementById("dd26").setAttribute('value',keep[25]);
        document.getElementById("dd27").setAttribute('value',keep[26]);
        document.getElementById("dd28").setAttribute('value',keep[27]);
        document.getElementById("dd29").setAttribute('value',keep[28]);
        document.getElementById("dd30").setAttribute('value',keep[29]);
        document.getElementById("dd31").setAttribute('value',keep[30]);
      

        document.getElementById("ps1").setAttribute('value',keep2[0]);
        document.getElementById("ps2").setAttribute('value',keep2[1]);
        document.getElementById("ps3").setAttribute('value',keep2[2]);
        document.getElementById("ps4").setAttribute('value',keep2[3]);
        document.getElementById("ps5").setAttribute('value',keep2[4]);
        document.getElementById("ps6").setAttribute('value',keep2[5]);
        document.getElementById("ps7").setAttribute('value',keep2[6]);
        document.getElementById("ps8").setAttribute('value',keep2[7]);
        document.getElementById("ps9").setAttribute('value',keep2[8]);
        document.getElementById("ps10").setAttribute('value',keep2[9]);
        document.getElementById("ps11").setAttribute('value',keep2[10]);
        document.getElementById("ps12").setAttribute('value',keep2[11]);
        document.getElementById("ps13").setAttribute('value',keep2[12]);
        document.getElementById("ps14").setAttribute('value',keep2[13]);
        document.getElementById("ps15").setAttribute('value',keep2[14]);
        document.getElementById("ps16").setAttribute('value',keep2[15]);
        document.getElementById("ps17").setAttribute('value',keep2[16]);
        document.getElementById("ps18").setAttribute('value',keep2[17]);
        document.getElementById("ps19").setAttribute('value',keep2[18]);
        document.getElementById("ps20").setAttribute('value',keep2[19]);
        document.getElementById("ps21").setAttribute('value',keep2[20]);
        document.getElementById("ps22").setAttribute('value',keep2[21]);
        document.getElementById("ps23").setAttribute('value',keep2[22]);
        document.getElementById("ps24").setAttribute('value',keep2[23]);
        document.getElementById("ps25").setAttribute('value',keep2[24]);
        document.getElementById("ps26").setAttribute('value',keep2[25]);
        document.getElementById("ps27").setAttribute('value',keep2[26]);
        document.getElementById("ps28").setAttribute('value',keep2[27]);
        document.getElementById("ps29").setAttribute('value',keep2[28]);
        document.getElementById("ps30").setAttribute('value',keep2[29]);
        document.getElementById("ps31").setAttribute('value',keep2[30]);
      
        if (yon_month.includes(monthValue) ){
            console.log('เดือนนี้มี 30 วัน')
            document.getElementById("dd29").removeAttribute('disabled');
            document.getElementById("ps29").removeAttribute('disabled');
            document.getElementById("dd30").removeAttribute('disabled');
            document.getElementById("ps30").removeAttribute('disabled');

            document.getElementById("dd31").setAttribute('value', '');
            document.getElementById("ps31").setAttribute('value', '');
            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');
        }else if(feb_month.includes(monthValue)){
            console.log('เดือนนี้เดือนกุมภาพันธ์')
            document.getElementById("dd30").setAttribute('value', '');
            document.getElementById("ps30").setAttribute('value', '');
            document.getElementById("dd31").setAttribute('value', '');
            document.getElementById("ps31").setAttribute('value', '');
            document.getElementById("dd30").setAttribute('disabled', '');
            document.getElementById("ps30").setAttribute('disabled', '');
            document.getElementById("dd31").setAttribute('disabled', '');
            document.getElementById("ps31").setAttribute('disabled', '');

            if(yearValue % 4 !== 0){
                document.getElementById("dd29").setAttribute('value', '');
                document.getElementById("ps29").setAttribute('value', '');
                document.getElementById("dd29").setAttribute('disabled', '');
                document.getElementById("ps29").setAttribute('disabled', '');
            }
        }

    });
        
        
    }
</script>





</html>